
@{
    ViewBag.Title = "CadastrarCidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @*alerta de erro*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/Cidade/script.js"></script>
    <link rel="stylesheet" href="~/Content/Cidade/style.css" />
</head>

<body>
    <div class="container my-3">

        @*Modal Cadastrar*@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="cadastrarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cadastrarModalLabel">Cadastrar Cidade</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="recipient-name" class="col-form-label">Estados:</label>
                                    <select class="form-select" id="paises" name="paises">
                                        @foreach (var cidade in Model)
                                        {
                                            <option id="@cidade.id" value="@cidade.idEstado">@cidade.estado.descricaoEstado</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col">
                                    <label for="recipient-name" class="col-form-label">Cidade:</label>
                                    <input type="text" class="form-control" id="cidade-nome">
                                </div>                                                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="createBtn">Tudo Jóia👍</button>
                    </div>
                </div>
            </div>
        </div>

        @*modal delete*@
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação de Exclusão</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        Tem certeza de que deseja excluir este registro de Cidade?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnConfirmDelete">Excluir</button>
                    </div>

                </div>
            </div>
        </div>



        @*Modal Editar*@
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editarModalLabel">Editar Cidade</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">

                                <div class="mb-3 col">
                                        <label for="recipient-name" class="col-form-label">Estados:</label>
                                        <select class="form-select" id="paises" name="paises">
                                            @foreach (var cidade in Model)
                                            {
                                                <option id="@cidade.id" value="@cidade.idEstado">@cidade.estado.descricaoEstado</option>
                                            }
                                        </select>
                                    </div>                                
                                <div class="mb-3 col">
                                    <label for="recipient-name" class="col-form-label">Cidade:</label>
                                    <input type="text" class="form-control" id="cidade-nome-update">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="updateBtn">Tudo Jóia👍</button>
                    </div>
                </div>
            </div>
        </div>



        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Novo Registro</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="d-none">Id</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody class="pais-info">
                @foreach (var cidade in Model)
                {
                    <tr>
                        <td class="d-none cidadeId">@cidade.id</td>
                        <td class="cidadeNome">@cidade.descricaoCidade</td>

                        <td class="d-none estadoId">@cidade.idEstado</td>
                        <td class="estadoNome">@cidade.estado.descricaoEstado</td>

                        <td class="text-center">
                            <button class="btn btn-primary btn-modal-edit" data-bs-toggle="modal" data-bs-target="#editModal">Editar</button>
                            <button class="btn btn-danger btn-modal-delete" data-bs-toggle="modal" data-bs-target="#confirmModal">Deletar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>