<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestão Receita</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Gestão de Receitas", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Empresas", "Index", "Empresa", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Ingredientes", "Index", "Ingrediente", new { areas = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Cadastrar Unidade Medida", "Index", "CadastroUnidadeMedida", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div class="dropdown dropstart">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Editar", "Editar", "Login", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "dropdown-item" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year -

         
                <a class="curson-pointer link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Senac Info - 9</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>