@model CadEmpresa.Models.CadastroEmpresaViewModel
@{
    ViewBag.Title = "Dados Empresa";
}
<link href="~/Content/empresa.css" rel="stylesheet" />

@using (Html.BeginForm("PersistirCadastro", "Empresa", FormMethod.Post, new { @class = "row g-3 mt-5 needs-validation" }))
{
    <h2 class="row">DADOS EMPRESA</h2>


    <div class="row g-3">
        <div class="col-md-3">
            <label>CNPJ</label>
            <input type="hidden" name="id" value="@Model.id">
            <input type="text" class="form-control" id="inputCNPJ" name="CNPJ" required value="@Model.CNPJ">
        </div>

        <div class="col-md-5">
            <label>Razão Sosial</label>
            <input type="text" class="form-control" id="inputRazaoSosial" name="razaoSosial" required value="@Model.razaoSosial">
        </div>
    </div>

    <div class="row g-3">

        <div class="col-md-5">
            <label>Rua</label>
            <input type="text" class="form-control" id="inputRua" name="rua" required value="@Model.rua">
        </div>

        <div class="col-md-3">
            <label>Bairro</label>
            <input type="text" class="form-control" id="inputBairro" name="bairro" required value="@Model.bairro">
        </div>
    </div>

    <div class="row g-3">

        <div class="col-md-3">
            <label>Número de Endereço</label>
            <input type="text" class="form-control" id="inputNumeroEndereco" name="numeroEndereco" required value="@Model.numeroEndereco">
        </div>

        <div class="col-md-5">
            <label>Complemento</label>
            <input type="text" class="form-control" id="inputComplemento" name="complemento" required value="@Model.complemento">
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-4">
            <label>Email</label>
            <input type="text" class="form-control" id="inputEmail" name="email" required value="@Model.email">
        </div>
        <div class="col-md-4">
            <label>Telefone</label>
            <input type="text" class="form-control" id="inputTelefone" name="telefone" required value="@Model.telefone">
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-4">
            <label>Nome Fantasia</label>
            <input type="text" class="form-control" id="inputNomeFantasia" name="nomeFantasia" required value="@Model.nomeFantasia">
        </div>
        <div class="col-md-4">
            <label>Cidade</label>
            <select name="idCidade" class="form-control">
                @foreach (var item in Model.listaCidade)
                {
                    var selecionado = item.id == Model.idCidade ? "selected" : "";

                    <option value="@item.id" @Html.Raw(selecionado)> @item.descricaoCidade</option>
                }
            </select>
        </div>
    </div>

    <div class="row g-2 text-center">
        
        <div class="col">
            <button class="btn btn-success" type="submit">Gravar Dados</button>
            @Html.ActionLink("Voltar", "Index", "Empresas", new { @class = "btn btn-danger" })
        </div>
    </div>
}